section {
  width: 100%;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: default;
  position: relative;
  min-height: 100vh;
}

h1 {
  color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: white;
}

.navigation-bar {
  background-color: black;
  opacity: 75%;
  align-items:center;
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  z-index: 30;
}

.navigation-bar:hover {
  animation: nav 0s ease-in-out;
  opacity: 100%;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list-container {
  display: flex;
  align-items: center;
  padding: 1 rem 0;
  
}

.navigation-contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  gap: 2rem;
}

.navigation-list {
  
  display: flex;
  gap: 5rem;
  list-style: none;

}

.navigation-item {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  position: relative;
  cursor: pointer;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.navigation-item:hover {
  animation: glow 0.5s ease-in-out infinite alternate;
}

.contact-img {
  width: 30px;
  height: 30px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.home-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  align-items: center;
  justify-content: center;

  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
  animation: glow 10s ease-in-out infinite alternate;
}


.about-heading-container {
  display: flex;
  justify-content: center;
}

.about-heading {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
  font-size: 30px;
  justify-content: center;
}

.about-passage-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.about-passage {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  font-size: 18px;
  text-align: justify;
  
  max-width: 700px;
  background: black;
  border-radius: 20px;
  width: 80%;
  min-height: 200px;
  border-color: white;
  border-style: groove;
  border-width: thick;
}
.about-animation {
  align-self: center;
  max-width: 45%;
}
.lottie-animation{
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-title {
  display: block;
  justify-content: center;
  align-items: center;
}
.skills-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.skills-languages-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.languages-tools-header {
  font-family: "Arvo", serif;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
  font-size: 25px;
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.languages-tools-container {
  display: flex;
  gap: 10em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5em;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-title {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
  font-size: 30px;
  justify-content: center;
}
.skill-image {
  width: 50px;
  height: 50px;
  justify-content: center;
}
.skill-text {
  font-family: "Arvo", serif;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
  justify-content: center;
}




.projects {
  justify-content: top;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.projects-title {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
  font-size: 30px;
  justify-content: center;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.projects-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 80%;
  min-height: 200px;
  border-color: white;
  border-style: groove;
  border-width: thick;
}
.projects-card-title {
  margin: 10px;
  position: absolute;
  align-self: center;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF;
}
.projects-card-title-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.projects-skills-icons{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.projects-skills-icon{
  width: 25px;
  height: 25px;
}
.projects-github-button {
  width: 25px;
  height: 25px;
  margin-right: auto;
}
li {
  color: white;
}
@keyframes glow {
  from {
      text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF; 
  }
  to {
      text-shadow: 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF;
  }
}

@keyframes nav {
  from {
    opacity: 75%;
  }
  to {
    opacity: 100%;
  }
}